<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.pengenalanpola23217008">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Tugas1"
            android:label="@string/tugas1" />
        <activity
            android:name=".Tugas2"
            android:label="@string/tugas2" />
        <activity
            android:name=".Tugas3b"
            android:label="@string/tugas3b" />
        <activity
            android:name=".Tugas2b"
            android:label="@string/tugas2b" />
        <activity
            android:name=".Tugas3a"
            android:label="@string/tugas3a" />
        <activity
            android:name=".Tugas4a"
            android:label="@string/tugas4a" />
        <activity
            android:name=".Tugas4b"
            android:label="@string/tugas4b" />
        <activity
            android:name=".Tugas5"
            android:label="@string/tugas5" />
        <activity
            android:name=".UTS"
            android:label="@string/tugas6" />
        <activity
            android:name=".Tugas7"
            android:label="@string/tugas7"/>
        <activity
            android:name=".Tugas8dan9"
            android:label="@string/tugas8dan9"/>
    </application>

</manifest>